<aside class="flex h-screen w-64 flex-col bg-navy text-white sticky top-0">
    <div class="flex h-full min-h-0 flex-col">
        <div class="flex h-full flex-col justify-between p-4">
            <div class="flex flex-col gap-8">
                <div class="flex items-center gap-3 px-3">
                    <div class="size-6 text-primary">
                        <svg fill="none" viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                            <path d="M42.4379 44C42.4379 44 36.0744 33.9038 41.1692 24C46.8624 12.9336 42.2078 4 42.2078 4L7.01134 4C7.01134 4 11.6577 12.932 5.96912 23.9969C0.876273 33.9029 7.27094 44 7.27094 44L42.4379 44Z" fill="currentColor"></path>
                        </svg>
                    </div>
                    <h2 class="text-xl font-bold leading-tight tracking-[-0.015em]">AutoHaven</h2>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white/10 transition-colors" href="#">
                            <span class="material-symbols-outlined">home</span>
                            <p class="text-sm font-medium leading-normal">Home</p>
                        </a>
                        @* ------------------- These are only for admins  ------------- 
                         <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white/10 transition-colors" href="#">
                            <span class="material-symbols-outlined">article</span>
                            <p class="text-sm font-medium leading-normal">Listings Manager</p>
                        </a>
                        <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white/10 transition-colors" href="#">
                            <span class="material-symbols-outlined">group</span>
                            <p class="text-sm font-medium leading-normal">User Management</p>
                        </a>
                        *@
                            @*my listing only for providers not customer nor admins *@
                        <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white/10 transition-colors" href="#">
                            <span class="material-symbols-outlined">directions_car</span>
                            <p class="text-sm font-medium leading-normal">My Listings</p>
                        </a>
                        <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white/10 transition-colors" href="#">
                            <span class="material-symbols-outlined">favorite_border</span>
                            <p class="text-sm font-medium leading-normal">Favorites</p>
                        </a>
                        <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white/10 transition-colors"
                           href="@Url.Action("MyHistory", "Car")">
                            <span class="material-symbols-outlined">history</span>
                            <span class="text-sm font-medium leading-normal">History</span>
                        </a>

                        <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white/10 transition-colors"
                           href="@Url.Action("Profile", "Account")">
                            <span class="material-symbols-outlined">settings</span>
                            <span class="text-sm font-medium leading-normal">Profile</span>
                        </a>
                    </div>
                </div>
            </div>
            @* <div class="flex flex-col gap-1">
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white/10 transition-colors" asp-controller="Account" asp-action="Logout">
                    <span class="material-symbols-outlined">logout</span>
                    <p class="text-sm font-medium leading-normal">Logout</p>
                </a>
            </div> *@
        </div>
    </div>
</aside>
