@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Dashboard Content -->
<div class="p-10 bg-background-light">
    <!-- HeadlineText -->
    <h1 class="text-[#101418] tracking-light text-[32px] font-bold leading-tight pb-3">Welcome back, Admin.</h1>
    <!-- Stats -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 pt-6">
        <div class="flex flex-col gap-2 rounded-xl p-6 border border-[#dae0e7] bg-white">
            <p class="text-base font-medium leading-normal text-[#5e758d]">Cars for Rent</p>
            <p class="text-electric-blue tracking-light text-4xl font-bold leading-tight">1,204</p>
        </div>
        <div class="flex flex-col gap-2 rounded-xl p-6 border border-[#dae0e7] bg-white">
            <p class="text-base font-medium leading-normal text-[#5e758d]">Cars for Sale</p>
            <p class="text-electric-blue tracking-light text-4xl font-bold leading-tight">350</p>
        </div>
        <div class="flex flex-col gap-2 rounded-xl p-6 border border-[#dae0e7] bg-white">
            <p class="text-base font-medium leading-normal text-[#5e758d]">Total Revenue</p>
            <p class="text-electric-blue tracking-light text-4xl font-bold leading-tight">$54,820</p>
        </div>
        <div class="flex flex-col gap-2 rounded-xl p-6 border border-[#dae0e7] bg-white">
            <p class="text-base font-medium leading-normal text-[#5e758d]">Number of Users</p>
            <p class="text-electric-blue tracking-light text-4xl font-bold leading-tight">89</p>
        </div>
    </div>

</div>
